/* .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: black;
  }
  
  .dropdown {
    position: relative;
    z-index: 999;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  
  .dropdown:hover .dropmenu:hover .dropdown-content {display: block;}
  

  .bgg{
    background-color: black;
  }
  .dropdown-menu{display: none;} */
  .immg img{ 
    width: 80%;
    height: 10%;
  }
  .border{
    height: 100;
    border-left: 2px solid black !important;
    border-bottom: 1px solid  #EC792D !important;
  }
  .navlink a{
    color: black!important;
    padding: 200px;
  }
  .navitem a {
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 16px;
  }
  
  .navitem a:hover {
    /* color: rgb(0, 0, 0); */
    font-size: 14px;
  }
  
  
  .navitem a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #444444;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .navitem a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .dropdown-menu {
    position: absolute;
    left: 35px;
    top: 25px;
    width: 220%;
    border-radius: 3px;
  }
  
  .dropdown:hover>.dropdown-menu {
    display: block;
    width: 100%;
  }
  
  .dropdown>.dropdown-toggle:active {

    pointer-events: none;
  }
/* .latter{
  initial-letter: 1;
  color: #EC792D !important;
}
.Nav.Link .latter{
  color: #EC792D;
} */
.fg{
  color: #fff;
  font-size: 0.8rem;
}
/* @media screen and { max-width: 600px;
  
} */
.btoo{
  border: #EC792D;
  width: 100%;
}
.bb{
  border-bottom: #EC792D !important;
}