#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swipers{
  width: 85%; 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: none;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swipers .swiper{
  border-radius: 5px 5px 5px 5px;
  padding-bottom: 100px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  color: #f1660a;
  font-size: medium;
  font-weight: bold !important;
  left: 100px; 
  
  display: none;
}

/* .element style {
} */
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
 display: none;
    width: 100%;
}


.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;
    display: none;
}